<h1>Users' Movie Lists</h1>

<div class= "container">
    <% @lists.each do |list| %>
        <div class="list">
        <%= link_to list.title, list %> By: <%= link_to list.user.username, list.user %>
        </div>
    <% end %>
</div>