
<h1><%= @list.title %></h1>
<% if !@list.movies.empty? %>
    <% @list.movies.each do |movie|%>
        <%= link_to image_tag(movie.properties["Poster"]), movie_path(movie.properties["imdbID"]) %>
    <% end %>
<% else %>
    <h3>This List Has No Movies</h3><br>
    <%= link_to "Add One!", movies_path %>
<% end %>
