<h1> Create Account </h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <%= error %>
    <% end %>
<% end %>

<% if session[:user_id] %>
    <h1>You are already logged in.</h1>
<% else %>
    <%= render "form" %>
<% end %>