<h1> Sign up </h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <%= error %>
    <% end %>
<% end %>

<% if current_user %>
    <% redirect_to user_path(current_user.id) %>
<% else %>
    <%= render "form" %>
<% end %>