<h1> Welcome <%= @user.username %> </h1>

<h3>Lists</h3>
<ul>
    <% @user.lists.each do |list| %>
        <li><%= link_to list["title"], list_path(list) %></li>
    <% end %>
</ul>

<% if @user.id == session[:user_id] %>
    <%= link_to "Log Out", logout_path %>
<% end %>