/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap";

.top-container {
    background-color: rgb(78, 78, 78);
    padding: 2rem;

    h1 {
        font-size: 2rem;
        color: white;
    }
}

.search-container {

    input[type=text] {
        width: 90%;
        margin: 0;
        padding: 0.3rem;
        border: none;
    }

    button {
        padding: 0.3rem;
        float: right;
        width: 10%;
        border: none;
        border-style: none;
        border-radius: 0;
    }
}

.movie:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}

.movie {
    border-top: 1px solid rgb(253, 155, 155);
    padding: 1rem;
    
    a {
        text-align: center;
        color: gray;
    }
}

.show-pg {
    
    
    h1 {
        font-size: 4rem;
        color: rgb(73, 73, 73);
    }
}

.movie-info {
    background-color: rgb(179, 179, 179);
    display: flex;
    padding: 1rem;
    border-radius: 10px;

    .right-info {
        padding-left: 3rem;

        textarea {
            width: 100%;
            height: 150px;
        }

        .form-inputs {
            display: flex;

            .left {
                width: 70%;
            }

            .right {
                padding-left: 1rem;
                width: 30%;
            }
        }
    }
}

.review {
    border-top: 1px solid gray;
    padding: 2rem;

    .add_comment_btn {
        float: right;
        border-radius: 3px;
        background-color: rgb(35, 72, 192);
        color:white;
    }
}

.top-comment-page {
    .review-info {
        padding: 1rem;
    }
    .form {
        padding: 1rem;

        textarea {
            width: 50%;
            height: 10rem;
        }
    }
}

.comments {
    padding: 1rem;
    
}
    .comment-content {
        border-top: 1px solid gray;
        padding: 1.2rem;
    }
}
